   html,
   body {
       background-color: rgb(247, 198, 43);
       font-family: Yanone Kaffeesatz;
       margin: 0;
   }
   
   .menu {
       display: flex;
       height: 10vh;
       background-color: black;
       align-items: center;
   }
   
   .menu-list {
       display: flex;
       justify-content: space-around;
       list-style: none;
       width: 100%;
   }
   
   .menu-element {
       text-decoration: none;
       font-size: 30px;
       color: rgb(247, 198, 43);
   }
   
   .menu-element:hover {
       color: white;
   }
   
   .welcome {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 90vh;
   }
   
   .nestor {
       font-size: 65px;
   }
   
   .drums {
       font-size: 35px;
   }
   
   .bio {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }
   
   .date {
       margin: 30px 30px 0 0;
   }
   
   .photos {
       text-align: center;
       height: 100vh;
   }
   
   .contact {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       height: 85vh;
   }
   
   .footer {
       background-color: black;
       color: rgb(247, 198, 43);
       display: flex;
       justify-content: center;
       align-items: center;
       height: 15vh;
   }
   
   @media (min-width: 1280px) {
       .menu-list {
           justify-content: flex-end;
       }
       .menu-element {
           margin-right: 40px;
           ;
       }
   }